In [24]:
import pandas as pd
from datetime import datetime, timedelta

to_date_str = lambda x: (datetime(1900, 1, 1) + timedelta(x - 2)).strftime("%Y-%m-%d")

In [25]:
df = pd.read_excel(
    "DADOS DIÁRIOS - ANBIMA - 2021_07_15.xlsb",
    engine="pyxlsb",
    sheet_name="ANBIMA - DEBÊNTURES",
)

In [26]:
df

,DATA BASE,Código,Nome,Repac./ Venc.,Índice/ Correção,Taxa de Compra,Taxa de Venda,Taxa Indicativa,Desvio Padrão,Min.,Máx.,PU,% PU Par,Duration,% Reune,Referência NTN-B
0,44392,ALSCA0,ALIANSCE SONAE SHOPPING CENTER S/A (*),45184,110% do DI,121.2492,116.8571,118.9307,0.9374,117.9934,119.8682,N/D,N/D,N/D,35.0,NaN
1,44392,AMPLA0,AMPLA ENERGIA E SERVIÇOS S/A (*),45366,108% do DI,124.8859,119.8571,121.8370,1.4056,120.4314,123.2427,990.953799,97.9543,502.9736,NaN,NaN
2,44392,BRML17,BR MALLS PARTICIPAÇÕES S/A (*),45727,"107,5% do DI",122.8967,119.3333,120.9597,0.3095,120.6502,121.2693,9780.491347,96.6684,800.8287,35.0,NaN
3,44392,BSA312,"B3 S/A - BRASIL, BOLSA, BALCÃO (*) (**)",44684,"102,8% do DI",121.1403,117.4066,120.5286,0.3723,120.1562,120.9010,9986.575215,99.1103,197.1252,NaN,NaN
4,44392,CBRDA6,COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO (*) (**),44449,"162,71% do DI",133.0385,--,130.2037,0.2514,129.9523,130.4552,20.162081,100.2392,40,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,44392,VLIO11,VLI OPERACOES PORTUARIAS S/A,44423,"IPCA + 6,0500%",1.1632,0.7508,0.9341,0.5056,0.4285,1.4398,1293.789603,100.4326,22,NaN,44788.0
544,44392,VNTT11,VENTOS DE SÃO TITO HOLDING S/A,46919,"IPCA + 9,2360%",8.2546,--,7.6682,0.0831,7.5850,7.7514,985.993216,105.3929,922.8333,NaN,45792.0
545,44392,VOES16,CONC. DE ROD. DO OESTE DE SP - VIAOESTE S/A (*),44515,"IPCA + 6,2959%",1.4005,0.8453,1.1820,0.0568,1.1252,1.2389,1245.353281,101.6571,84,NaN,44788.0
546,44392,VPLT12,VIAPAULISTA S.A.,46553,"IPCA + 3,9407%",4.3129,3.9104,4.1122,0.0803,4.0319,4.1926,972.333722,99.5051,757.7541,35.0,45519.0
547,44392,VRDN12,VIARONDON CONCESSIONÁRIA DE RODOVIA S/A,49293,"IPCA + 5,5500%",5.6281,5.2509,5.4212,0.0863,5.3348,5.5076,1091.924108,100.8802,1810.7207,15.0,47710.0

In [27]:
names = [
    "symbol",
    "name",
    "maturity_date",
    "underlying",
    "bid_yield",
    "ask_yield",
    "ref_yield",
    "price",
    "perc_price_par",
    "duration",
    "perc_reune",
    "ref_ntnb",
    "refdate",
]

In [28]:
# Index(['DATA BASE', 'Código', 'Nome', 'Repac./  Venc.', 'Índice/ Correção',
#        'Taxa de Compra', 'Taxa de Venda', 'Taxa Indicativa', 'Desvio Padrão',
#        'Min.', 'Máx.', 'PU', '% PU Par', 'Duration', '% Reune',
#        'Referência NTN-B'],
#       dtype='object')

df1 = df.iloc[:, [1, 2, 3, 4, 5, 6, 7, 11, 12, 13, 14, 15, 0]].copy()
df1

,Código,Nome,Repac./ Venc.,Índice/ Correção,Taxa de Compra,Taxa de Venda,Taxa Indicativa,PU,% PU Par,Duration,% Reune,Referência NTN-B,DATA BASE
0,ALSCA0,ALIANSCE SONAE SHOPPING CENTER S/A (*),45184,110% do DI,121.2492,116.8571,118.9307,N/D,N/D,N/D,35.0,NaN,44392
1,AMPLA0,AMPLA ENERGIA E SERVIÇOS S/A (*),45366,108% do DI,124.8859,119.8571,121.8370,990.953799,97.9543,502.9736,NaN,NaN,44392
2,BRML17,BR MALLS PARTICIPAÇÕES S/A (*),45727,"107,5% do DI",122.8967,119.3333,120.9597,9780.491347,96.6684,800.8287,35.0,NaN,44392
3,BSA312,"B3 S/A - BRASIL, BOLSA, BALCÃO (*) (**)",44684,"102,8% do DI",121.1403,117.4066,120.5286,9986.575215,99.1103,197.1252,NaN,NaN,44392
4,CBRDA6,COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO (*) (**),44449,"162,71% do DI",133.0385,--,130.2037,20.162081,100.2392,40,NaN,NaN,44392
...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,VLIO11,VLI OPERACOES PORTUARIAS S/A,44423,"IPCA + 6,0500%",1.1632,0.7508,0.9341,1293.789603,100.4326,22,NaN,44788.0,44392
544,VNTT11,VENTOS DE SÃO TITO HOLDING S/A,46919,"IPCA + 9,2360%",8.2546,--,7.6682,985.993216,105.3929,922.8333,NaN,45792.0,44392
545,VOES16,CONC. DE ROD. DO OESTE DE SP - VIAOESTE S/A (*),44515,"IPCA + 6,2959%",1.4005,0.8453,1.1820,1245.353281,101.6571,84,NaN,44788.0,44392
546,VPLT12,VIAPAULISTA S.A.,46553,"IPCA + 3,9407%",4.3129,3.9104,4.1122,972.333722,99.5051,757.7541,35.0,45519.0,44392
547,VRDN12,VIARONDON CONCESSIONÁRIA DE RODOVIA S/A,49293,"IPCA + 5,5500%",5.6281,5.2509,5.4212,1091.924108,100.8802,1810.7207,15.0,47710.0,44392

In [29]:
df1.columns = names

In [30]:
df1

,symbol,name,maturity_date,underlying,bid_yield,ask_yield,ref_yield,price,perc_price_par,duration,perc_reune,ref_ntnb,refdate
0,ALSCA0,ALIANSCE SONAE SHOPPING CENTER S/A (*),45184,110% do DI,121.2492,116.8571,118.9307,N/D,N/D,N/D,35.0,NaN,44392
1,AMPLA0,AMPLA ENERGIA E SERVIÇOS S/A (*),45366,108% do DI,124.8859,119.8571,121.8370,990.953799,97.9543,502.9736,NaN,NaN,44392
2,BRML17,BR MALLS PARTICIPAÇÕES S/A (*),45727,"107,5% do DI",122.8967,119.3333,120.9597,9780.491347,96.6684,800.8287,35.0,NaN,44392
3,BSA312,"B3 S/A - BRASIL, BOLSA, BALCÃO (*) (**)",44684,"102,8% do DI",121.1403,117.4066,120.5286,9986.575215,99.1103,197.1252,NaN,NaN,44392
4,CBRDA6,COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO (*) (**),44449,"162,71% do DI",133.0385,--,130.2037,20.162081,100.2392,40,NaN,NaN,44392
...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,VLIO11,VLI OPERACOES PORTUARIAS S/A,44423,"IPCA + 6,0500%",1.1632,0.7508,0.9341,1293.789603,100.4326,22,NaN,44788.0,44392
544,VNTT11,VENTOS DE SÃO TITO HOLDING S/A,46919,"IPCA + 9,2360%",8.2546,--,7.6682,985.993216,105.3929,922.8333,NaN,45792.0,44392
545,VOES16,CONC. DE ROD. DO OESTE DE SP - VIAOESTE S/A (*),44515,"IPCA + 6,2959%",1.4005,0.8453,1.1820,1245.353281,101.6571,84,NaN,44788.0,44392
546,VPLT12,VIAPAULISTA S.A.,46553,"IPCA + 3,9407%",4.3129,3.9104,4.1122,972.333722,99.5051,757.7541,35.0,45519.0,44392
547,VRDN12,VIARONDON CONCESSIONÁRIA DE RODOVIA S/A,49293,"IPCA + 5,5500%",5.6281,5.2509,5.4212,1091.924108,100.8802,1810.7207,15.0,47710.0,44392

In [33]:
df2 = df1.copy()
df2["ask_yield"] = pd.to_numeric(df1["ask_yield"], errors="coerce").astype("float64")
df2["bid_yield"] = pd.to_numeric(df1["bid_yield"], errors="coerce").astype("float64")
df2["ref_yield"] = pd.to_numeric(df1["ref_yield"], errors="coerce").astype("float64")
df2["price"] = pd.to_numeric(df1["price"], errors="coerce").astype("float64")
df2["perc_price_par"] = pd.to_numeric(df1["perc_price_par"], errors="coerce").astype(
    "float64"
)
df2["duration"] = pd.to_numeric(df1["duration"], errors="coerce").astype("float64")
df2["perc_reune"] = pd.to_numeric(df1["perc_reune"], errors="coerce").astype("float64")
df2["refdate"] = df1["refdate"].map(to_date_str)
df2.loc[~df1["ref_ntnb"].isna(), "ref_ntnb"] = df1.loc[
    ~df1["ref_ntnb"].isna(), "ref_ntnb"
].map(to_date_str)
df2["maturity_date"] = df1["maturity_date"].map(to_date_str)

x = ~df2["ref_yield"].isna()
df2 = df2[x].copy()

df2

,symbol,name,maturity_date,underlying,bid_yield,ask_yield,ref_yield,price,perc_price_par,duration,perc_reune,ref_ntnb,refdate
0,ALSCA0,ALIANSCE SONAE SHOPPING CENTER S/A (*),2023-09-15,110% do DI,121.2492,116.8571,118.9307,N/D,N/D,N/D,35.0,NaN,2021-07-15
1,AMPLA0,AMPLA ENERGIA E SERVIÇOS S/A (*),2024-03-15,108% do DI,124.8859,119.8571,121.8370,990.953799,97.9543,502.9736,NaN,NaN,2021-07-15
2,BRML17,BR MALLS PARTICIPAÇÕES S/A (*),2025-03-11,"107,5% do DI",122.8967,119.3333,120.9597,9780.491347,96.6684,800.8287,35.0,NaN,2021-07-15
3,BSA312,"B3 S/A - BRASIL, BOLSA, BALCÃO (*) (**)",2022-05-03,"102,8% do DI",121.1403,117.4066,120.5286,9986.575215,99.1103,197.1252,NaN,NaN,2021-07-15
4,CBRDA6,COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO (*) (**),2021-09-10,"162,71% do DI",133.0385,NaN,130.2037,20.162081,100.2392,40,NaN,NaN,2021-07-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,VLIO11,VLI OPERACOES PORTUARIAS S/A,2021-08-15,"IPCA + 6,0500%",1.1632,0.7508,0.9341,1293.789603,100.4326,22,NaN,2022-08-15,2021-07-15
544,VNTT11,VENTOS DE SÃO TITO HOLDING S/A,2028-06-15,"IPCA + 9,2360%",8.2546,NaN,7.6682,985.993216,105.3929,922.8333,NaN,2025-05-15,2021-07-15
545,VOES16,CONC. DE ROD. DO OESTE DE SP - VIAOESTE S/A (*),2021-11-15,"IPCA + 6,2959%",1.4005,0.8453,1.1820,1245.353281,101.6571,84,NaN,2022-08-15,2021-07-15
546,VPLT12,VIAPAULISTA S.A.,2027-06-15,"IPCA + 3,9407%",4.3129,3.9104,4.1122,972.333722,99.5051,757.7541,35.0,2024-08-15,2021-07-15
547,VRDN12,VIARONDON CONCESSIONÁRIA DE RODOVIA S/A,2034-12-15,"IPCA + 5,5500%",5.6281,5.2509,5.4212,1091.924108,100.8802,1810.7207,15.0,2030-08-15,2021-07-15

In [34]:
df2.dtypes

symbol             object
name               object
maturity_date      object
underlying         object
bid_yield         float64
ask_yield         float64
ref_yield         float64
price              object
perc_price_par     object
duration           object
perc_reune        float64
ref_ntnb           object
refdate            object
dtype: object

------

In [2]:
df = pd.read_excel(
    "data/DADOS DIÁRIOS - ANBIMA - 2017_03_16.xlsb",
    engine="pyxlsb",
    sheet_name="ANBIMA - TÍTULOS PÚBLICOS",
)

In [3]:
names = [
    "symbol",
    "refdate",
    "cod_selic",
    "issue_date",
    "maturity_date",
    "bid_yield",
    "ask_yield",
    "ref_yield",
    "price",
]

In [40]:
# df1 = df[['Categoria', 'DATA BASE', 'Código SELIC', 'Data de Emissão', 'Data de Vencimento', 'Tx. Compra', 'Tx. Venda', 'Tx. Indicativas', 'PU']].copy()
df1 = df.iloc[:, [1, 0, 2, 3, 4, 5, 6, 7, 8]].copy()

In [41]:
df1.columns = names

In [42]:
df1["ask_yield"] = pd.to_numeric(df1["ask_yield"], errors="coerce")
df1["bid_yield"] = pd.to_numeric(df1["bid_yield"], errors="coerce")
df1["ref_yield"] = pd.to_numeric(df1["ref_yield"], errors="coerce")

In [43]:
x = ~df1["ref_yield"].isna()
df1 = df1[x].copy()
df1["refdate"] = df1["refdate"].map(to_date_str)
df1["issue_date"] = df1["issue_date"].map(to_date_str)
df1["maturity_date"] = df1["maturity_date"].map(to_date_str)

In [46]:
df1

,symbol,refdate,cod_selic,issue_date,maturity_date,bid_yield,ask_yield,ref_yield,price
0,LFT,2017-03-16,210100,2000-07-01,2017-09-07,NaN,NaN,0.0046,8655.014834
1,LFT,2017-03-16,210100,2000-07-01,2018-03-01,NaN,NaN,0.0132,8654.132002
2,LFT,2017-03-16,210100,2000-07-01,2018-09-01,NaN,NaN,0.0129,8653.586723
3,LFT,2017-03-16,210100,2000-07-01,2019-03-01,NaN,NaN,0.0170,8652.349028
4,LFT,2017-03-16,210100,2000-07-01,2020-03-01,NaN,NaN,0.0302,8647.528074
5,LFT,2017-03-16,210100,2000-07-01,2020-09-01,NaN,NaN,0.0326,8645.494098
6,LFT,2017-03-16,210100,2000-07-01,2021-03-01,NaN,NaN,0.0498,8638.292960
7,LFT,2017-03-16,210100,2000-07-01,2021-09-01,NaN,NaN,0.0544,8634.328872
8,LFT,2017-03-16,210100,2000-07-01,2022-03-01,NaN,NaN,0.0591,8630.018576
9,LFT,2017-03-16,210100,2000-07-01,2022-09-01,NaN,NaN,0.0597,8627.153700
10,LFT,2017-03-16,210100,2000-07-01,2023-03-01,NaN,NaN,0.0601,8624.435963
11,LTN,2017-03-16,100000,2016-01-15,2017-04-01,12.1783,12.1700,12.1745,994.544198
12,LTN,2017-03-16,100000,2013-10-04,2017-07-01,11.1576,11.1423,11.1466,969.850239
13,LTN,2017-03-16,100000,2015-07-03,2017-10-01,10.4576,10.4430,10.4468,947.413922
14,LTN,2017-03-16,100000,2014-01-10,2018-01-01,9.9589,9.9465,9.9515,928.170286
15,LTN,2017-03-16,100000,2016-01-08,2018-04-01,9.7598,9.7474,9.7524,908.789628
16,LTN,2017-03-16,100000,2014-07-04,2018-07-01,9.6499,9.6369,9.6436,889.017366
17,LTN,2017-03-16,100000,2016-07-08,2018-10-01,9.5847,9.5703,9.5779,869.269603
18,LTN,2017-03-16,100000,2015-01-09,2019-01-01,9.5623,9.5549,9.5590,850.187197
19,LTN,2017-03-16,100000,2017-01-06,2019-04-01,9.6250,9.6152,9.6200,830.670792
20,LTN,2017-03-16,100000,2015-07-03,2019-07-01,9.6721,9.6619,9.6675,811.313064
21,LTN,2017-03-16,100000,2016-01-08,2020-01-01,9.7885,9.7793,9.7840,771.313011
22,LTN,2017-03-16,100000,2016-07-08,2020-07-01,9.9573,9.9500,9.9538,733.244891
23,NTN-B,2017-03-16,760199,2000-07-15,2017-05-15,7.0000,6.6000,6.8012,3036.115896
24,NTN-B,2017-03-16,760199,2000-07-15,2018-08-15,5.2440,5.2300,5.2302,3025.557887
25,NTN-B,2017-03-16,760199,2000-07-15,2019-05-15,5.0800,5.0619,5.0719,3096.195856
26,NTN-B,2017-03-16,760199,2000-07-15,2020-08-15,5.1500,5.1350,5.1400,3073.298322
27,NTN-B,2017-03-16,760199,2000-07-15,2021-05-15,5.2800,5.2670,5.2700,3119.990106
28,NTN-B,2017-03-16,760199,2000-07-15,2022-08-15,5.3567,5.3400,5.3500,3085.310143
29,NTN-B,2017-03-16,760100,2000-07-15,2023-03-15,NaN,NaN,5.3107,3085.348872
30,NTN-B,2017-03-16,760199,2000-07-15,2023-05-15,5.3200,5.3059,5.3100,3147.314616
31,NTN-B,2017-03-16,760199,2000-07-15,2024-08-15,5.2950,5.2500,5.2688,3127.500473
32,NTN-B,2017-03-16,760199,2000-07-15,2026-08-15,5.3030,5.2900,5.2900,3149.602582
33,NTN-B,2017-03-16,760199,2000-07-15,2030-08-15,5.1753,5.0945,5.1220,3246.298933
34,NTN-B,2017-03-16,760199,2000-07-15,2035-05-15,5.2033,5.1700,5.1800,3325.049053
35,NTN-B,2017-03-16,760199,2000-07-15,2040-08-15,5.1847,5.1095,5.1522,3336.036056
36,NTN-B,2017-03-16,760199,2000-07-15,2045-05-15,5.2503,5.2145,5.2322,3375.878837
37,NTN-B,2017-03-16,760199,2000-07-15,2050-08-15,5.2015,5.1836,5.1941,3375.235347
38,NTN-B,2017-03-16,760199,2000-07-15,2055-05-15,5.1533,5.1092,5.1423,3466.149222
40,NTN-C,2017-03-16,770100,2000-07-01,2017-07-01,NaN,NaN,6.2169,3672.035962
41,NTN-C,2017-03-16,770100,2000-07-01,2021-04-01,NaN,NaN,5.3247,3817.341345
42,NTN-C,2017-03-16,770100,2000-07-01,2031-01-01,NaN,NaN,5.2688,6014.601174
43,NTN-F,2017-03-16,950199,2012-01-06,2018-01-01,9.9993,9.9698,9.9850,1020.721794
44,NTN-F,2017-03-16,950199,2013-01-04,2019-01-01,9.5166,9.5000,9.5100,1028.840348
45,NTN-F,2017-03-16,950199,2010-02-05,2021-01-01,9.9650,9.9527,9.9600,1022.558778
46,NTN-F,2017-03-16,950199,2012-03-09,2023-01-01,10.1824,10.1750,10.1783,1014.576439
47,NTN-F,2017-03-16,950199,2014-01-10,2025-01-01,10.2063,10.1943,10.2016,1011.963372
48,NTN-F,2017-03-16,950199,2016-01-15,2027-01-01,10.2399,10.2262,10.2325,1008.768830